# 값이 비어 있으면 계획서 기본값 사용
CHROMA_PATH=
CHROMA_COLLECTION=
EMBED_MODEL=
RECURSION_LIMIT=
EMBED_BATCH_SIZE=
CHUNK_MAX_CHARS=
CHUNK_OVERLAP=
CHUNK_D2_OVERLAP=
CHUNK_TURNS_PER_CHUNK=
CHUNK_OVERLAP_TURNS=
MAX_INPUT_TOKENS=
TIMEOUT_PDF_PER_FILE=
TIMEOUT_CHUNK_PER_DOC=
TIMEOUT_EMBED_BATCH=
