INPUT_PATH=../../docs
OUTPUT_PATH=data
EMBED_MODEL=nlpai-lab/KURE-v2
EMBED_REVISION=3431f86d399d666083890dbb882aced6708873bc
EMBED_MAX_TOKENS=800
EMBED_DIMENSION=768
EMBED_BATCH_SIZE=8
EMBED_DEVICE=auto
HF_LOCAL_FILES_ONLY=true
