HELP_DESK_LLM_API_KEY=
HELP_DESK_CHECKPOINT_URI=
HELP_DESK_CHECKPOINT_ENCRYPTION_KEY=
HELP_DESK_MASKING_SALT=
HELP_DESK_C_A1_CREDENTIAL=
HELP_DESK_C_A2_CREDENTIAL=
HELP_DESK_C_A3_CREDENTIAL=
HELP_DESK_GLOSSARY_POSTGRES_DSN=
HELP_DESK_KNOWLEDGE_RAG_DSN=
HELP_DESK_KNOWLEDGE_GRAPH_PASSWORD=
