HELP_DESK_CONNECTOR_MODE=mock
HELP_DESK_C_A1_BASE_URL=
HELP_DESK_C_A2_BASE_URL=
HELP_DESK_C_A3_BASE_URL=
HELP_DESK_C_A4_BASE_URL=
HELP_DESK_C_A5_BASE_URL=
HELP_DESK_C_A1_CREDENTIAL=
HELP_DESK_C_A2_CREDENTIAL=
HELP_DESK_C_A3_CREDENTIAL=
HELP_DESK_C_A4_CREDENTIAL=
HELP_DESK_C_A5_CREDENTIAL=
HELP_DESK_IDEMPOTENCY_SQLITE_URI=
HELP_DESK_IDEMPOTENCY_TTL_SECONDS=86400
HELP_DESK_CONNECTOR_JITTER_RATIO=0.1
